<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="page-container">
    <div class="container">
      <div class='pull-right'>
        <img alt="State Records Home" src="images/banner-graphic.png"/>
        <img src="images/dga.png" alt="data.gov.au Logo" title="data.gov.au Logo"/>
        <img src="images/trove-logo-v2.gif" alt="Trove one search ... a wealth of information" width="192" height="54"/>
      </div>
      <h1>5th-D Dataset</h1>
      <%= yield %>
    </div><!--/.container-->
  </div><!--/.page-container-->

  <!-- D3.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
  <script src="javascripts/query_viz.js"></script>
</body>
</html>
